
#!/usr/bin/python

import etcd
import sys
from urlparse import urlparse

etcd_host = "{{ .Env.ETCD_1_PORT_4001_TCP_ADDR }}"
etcd_port = "{{ .Env.ETCD_1_PORT_4001_TCP_PORT }}"

if not etcd_host:
    print "ETCD_HOST not set"
    sys.exit(1)
    
if not etcd_port:
    print "ETCD_PORT not set"
    sys.exit(1)
    

client = etcd.Client(host=etcd_host, port=int(etcd_port))

try:
    backends = client.read("/backends")
except KeyError:
    client.write("/backends", None, dir=True)

{{ $local := . }}
{{range $key, $value := .}}
{{ $addrLen := len $value.Addresses }}
{{ if eq $addrLen 1 }}
{{ with $address := index $value.Addresses 0 }}

{{ if $address.HostPort}}
# {{ $value.Name }}

client.write("/backends/{{ $value.Image.Repository}}/{{printf "%.*s" 12 $value.ID}}", "{{ $local.Env.HOST_IP }}:{{ $address.HostPort }}", ttl=15)
client.write("/backends/{{ $value.Image.Repository}}/port", "{{ $address.Port }}", ttl=15)

{{ end }}
{{ end }}
{{end}}
{{end}}
